{% extends "layout.html" %}
{% load crispy_forms_tags %}

{% block title %}
{% if form.instance.pk%}
Edit
{% else %}
Create
{% endif %}
{% endblock %}

{% block content %}
<h1 class="mt-4 text-center">Welcome to Tweet App</h1>
<h2>
    {% if form.instance.pk %} 
        Edit Tweet 
    {% else %} 
        Create Tweet 
    {% endif %}
</h2>
<div class="container mt-4">
    <div class="card bg-secondary text-white p-4 shadow-sm">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            
            {{ form|crispy }}

            <div class="d-flex justify-content-between mt-3">
                <button class="btn btn-warning" type="submit">Submit</button>
                <a href="{% url 'tweet_list' %}" class="btn btn-success">Back</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
